
<%- include('../partials/__head.ejs') %>
<%- include('../partials/__nav.ejs') %>


<title>Daftar Alat Tangkap</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-lg">
        <!-- Mengubah kelas container menjadi container-lg -->
        <% if (messages.success) { %>
            <div class="alert alert-info" role="alert">
                <%= messages.success %>
            </div>
        <% } %>
        <div class="row">
            <div class="col"><br><br>
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Daftar Alat Tangkap
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nama Alat Tangkap</th>
                                        <th scope="col">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var count = 1; %>
                                    <% for(var i = 0; i < data.length; i++) { %>
                                        <tr>
                                            <th scope="row"><%= count %></th>
                                            <% count++; %>
                                            <td><%= data[i].nama_alat_tangkap %></td>
                                            <td>
                                                <a href="/alat_tangkap/edit/<%= data[i].id_alat_tangkap %>" class="btn btn-sm btn-warning mr-2">Edit</a>
                                                <a href="/alat_tangkap/delete/<%= data[i].id_alat_tangkap %>" class="btn btn-sm btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <form action="/alat_tangkap/store" method="POST">
                            <div class="form-group">
                                <label for="nama_alat_tangkap">Nama Alat Tangkap</label>
                                <input type="text" class="form-control" name="nama_alat_tangkap" required>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">Simpan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br><br><br>
    <%- include('../partials/__foot.ejs') %>